<div class="inner">
	<div class="banner">
		<h1><%= @page.title %></h1>
		<% if @page.images.first %>
			<%= image_tag(@page.images.first.image.url(:widebanner)) %>
		<% else %>
			<%= image_tag Banner.all(:limit => 1, :order => 'RAND()').first.banner.url(:widebanner) %>
		<% end %>
	</div>
</div>