	<div id="footer">
		<div class="wrapper">
			<div class="col">
			</div>
			<div class="col">
			</div>
			<div class="col last">
				<%= image_tag('/images/solaris-grey.png') %>
				<address>
					Solaris Mobile Ltd<br /> 
					Pembroke House<br />
					30 Pembroke Street Upper<br />
					Dublin 2<br />
					Ireland
				</address>
			</div>
		</div>
</body>
</html>