<div class="flickr">
	<h4>feed</h4>
	<%- cache('flickr', :expires_in => 3.hours) do %>
		<% begin %>
		<% Flickr.new(FLICKR_ID).stream.each do |image| %>
			<%= link_to(image_tag(flickr_image_url(image, :size => "small"), :width => 55, :height => 55, :alt => image.title), flickr_image_url(image, :size => "original")) %>
		<% end %>
		<% rescue %>
		<p>Looks like we can't connect to Flickr right now</p>
		<% end %>
	<% end %>
</div>