<div class="twitter">
	<div class="tweet">
	<%- cache('twitter', :expires_in => 3.hours) do %>
		<% begin %>
		<%- Twitter.new(TWITTER_USER, TWITTER_PASSWORD).timeline(:user, :query => {:count => '1'}).each do |tweet| %>
			<%= image_tag(tweet['user']['profile_image_url'], :height => 55) %>
			<p><%= link_twitter_user tweet['text'] %></p>
		<%- end %>
		<% rescue %>
			<p>Looks like we cant connect to twitter right now</p>
		<% end %>
	<%- end %>
	</div>
</div>